<section class="home-page-body">
    <!-- ===== BANNER ===== -->

    <section class="banner-blog">
        <!-- <div class="banner-bg">
            <h1>keyn Classics</h1>
            <p>Turn your dreams into realityy</p>
            <img src="assets/logo.png">
        </div> -->

        <div class="slider-container">

            <!-- <ng-container *ngIf="mediaList[currentIndex] as media">
                <img *ngIf="media.type === 'image'" [src]="media.src" class="media-slide" />

                <video *ngIf="media.type === 'video'" [src]="media.src" autoplay muted loop class="media-slide"></video>
            </ng-container> -->

            <ng-container *ngIf="slides[currentIndex] as slide">
                <ng-container *ngIf="isImage(slide.image); else videoTemplate">
                    <img [src]="apiUrl + (slide.image || '/default-image.jpg')" class="media-slide" alt="slider">
                </ng-container>

                <!-- Video template -->
                <ng-template #videoTemplate>
                    <video [src]="apiUrl + slide.image" autoplay muted loop class="media-slide"></video>
                </ng-template>
            </ng-container>

            <div class="main-heading">
                <h1>Create Timeless Memories with a Vintage Car</h1>
                <p>Turn your dreams into realityy</p>
                <!-- <img src="assets/logo.png"> -->
            </div>

            <div class="overlay"></div>

        </div>

    </section>




    <!-- ===== BLOGS ===== -->

    <section class="blogs-blog">
        <div class="blog-box-one">
            <h2 class="fade-up" appFadeUp>FROM CARTS TO CLASSIC CARS</h2>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="blog-banner fade-up" appFadeUp><img src="assets/blog-one.png"></div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-8">
                        <div class="blog-content fade-up" appFadeUp>
                            <p>Planning for an event is not a simple thing, at the same time making the event even more
                                special is a challenge. To overcome this we have our nostalgic cars for your big day.
                                Keyn Classics is the perfect blend of classic and exotic cars. We have elegant cars with
                                a stylish design and comfortable ride.</p>
                            <p>The term "classic car" is often used interchangeably with "classics”.Some classics cars
                                are
                                incredibly rare and valuable because of their age, condition and historical
                                significance.</p>
                            <p>From the gleam of its polished chrome to the rumble of its engine, every detail is a
                                testament to the craftsmanship and elegance of an era. Our classic cars are well known
                                for their majestic appearance.
                            </p>
                            <p>Classic cars often become symbols of personal identity, where their owners nurture and
                                restore them. The connection between people and classic cars runs deep into a unique
                                bond. Get the ball rolling with Classic Cars and cherish your special day with us.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="blog-box-two">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="blog-banner fade-up" appFadeUp><img src="assets/blog-two.png"></div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="blog-content fade-up" appFadeUp>
                            <p>Happiness is a choice.keyn classic has a various choice of classic cars.It is always
                                magical about stepping into a Classic Car. It represents freedom, individuality and the
                                spirit of adventure. </p>
                            <p>Every journey in a vintage car is a step back in time, where memories are made and every
                                moment feels like a special day. A vintage car is more than just a means of
                                transportation, it is a symbol of craftsmanship, elegance and the thrill of the open
                                road.
                            </p>
                            <p>Our Plymouth Belvedere 1955 is a thin on the ground.Ambassador 1995 is significantly
                                valuable.Step back into modern classic era with hindustan contessa 1995,the Ford GPW
                                1942 is not just a vehicle, it is a symbol of perseverance and innovation under pressure
                                and lot more choices for your memorable day.In these classic cars, every ride feels like
                                a celebration of the past, beautifully rolling into the present.The love for these
                                timeless machines is more than a hobby. Adventure is calling, and it’s time to hit the
                                road.Get ready to explore the evaluation of four wheels.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="blog-grid">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-4">
                            <img class="fade-up" appFadeUp src="assets/blog-grid-left.JPG">
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-4"><img class="fade-up" appFadeUp
                                src="assets/blog-grid-center.JPG"></div>
                        <div class="col-sm-12 col-md-12 col-lg-4"><img class="fade-up" appFadeUp
                                src="assets/blog-grid-right.JPG">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ===== PORTFOLIO COLLECTIONS ===== -->

    <app-portfolio-collections id="collections"></app-portfolio-collections>

    <!-- ===== SERVICES ===== -->

    <section class="service-blog">
        <h1 class="fade-up" appFadeUp>Journey Towards the Dream:Travel with our classics rental cars  services</h1>
        <p class="fade-up" appFadeUp>We offer classic rental services on your special day with our classics cars</p>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="service-left service-card-bg fade-up" appFadeUp>
                        <div class="service-content">
                            <h5>Classic Car Rental For Wedding</h5>
                            <p>Would you like tips on choosing the right classics car for a wedding, or are you looking
                                for
                                rental options or specific car recommendations?.Keyn Classic will help you out.
                                We have a fantastic choice for couples looking to make their grand entrance or exit in
                                style.
                            </p>
                        </div>
                        <button>read more</button>
                        <div class="overlay"></div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="service-middle service-card-bg fade-up" appFadeUp>
                        <div class="service-content">
                            <h5>Photo Shoots</h5>
                            <p>classics cars can add so much character and charm to photo shoots! Depending on the vibe
                                you're going for, there are a few classic models that could be great like Mercedes
                                Benz,Hindustan Contessa and many more. Enhancing your digital communities with an
                                classics
                                style of appearance will step back in time and bring the past to life!
                            </p>
                        </div>
                        <button>read more</button>
                        <div class="overlay"></div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="service-right service-card-bg fade-up" appFadeUp>
                        <div class="service-content">
                            <h5>Concert</h5>
                            <p>Superior Look for you music concert and extraordinary visual effect for life time.
                                Classic
                                vehicles often have a distinct glow that could complement the atmosphere of a music
                                event,
                                especially if it’s an outdoor or night-time concert.</p>
                        </div>
                        <button>read more</button>
                        <div class="overlay"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ===== BOOKING FORM ====== -->
    <app-booking-form></app-booking-form>
    <!-- ===== FAQ BLOG ===== -->
    <section class="faq-blog">
        <h1 class="fade-up" appFadeUp>need assistance right away?</h1>
        <p class="fade-up" appFadeUp>connect with us on whatsapp for immediate customer support at lightning speed</p>
        <div class="faq-view-btn fade-up" appFadeUp>
            <button>click here</button>
        </div>
        <div class="faq-accordian fade-up" appFadeUp>
            <h1>frequently asked questions</h1>

            <div class="accordian-box">
                <div class="container">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Why do our customers prefer our car rental service for their adventures ?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    There are several iconic models that work well for weddings,ranging from vintage
                                    plymouth belvedere and Ambassador models to classic Ford GPW and even older
                                    convertibles.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Can I rent a Hindustan Contessa for Wedding?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    The Hindustan Contessa is a classic and vintage car that could make a unique and
                                    stylish choice for a wedding.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Whether chauffeur service is available ?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Keyn Classic offers you chauffeur service which is completely optional. Our
                                    Chauffeurs are trained to provide safe and prompt transportation.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    How much does it cost to rent a Classic Car?
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    At Keyn Classic,Classic Car rental prices vary based on the model and
                                    duration.Contact us for specific pricing details.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</section>