.home-page-body {
    background-color: #000000;
    font-family: "Roboto Slab", serif;
}

/* ===== BANNER ===== */

.slider-container {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  
  .media-slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    transition: opacity 1s ease-in-out;
  }
  

.banner-blog {
    margin-top: 5.7%;
}

.banner-blog .slider-container{
    position: relative;
}

.banner-blog .slider-container .main-heading{
    position: absolute;
    text-align: center;
    margin: 13% 28%;
    z-index: 999;
}

.banner-blog .slider-container .main-heading h1{
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    margin-top: 5% ;
    text-transform: uppercase;
}

.banner-blog .slider-container .main-heading p{
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    margin: 1% 0;
    text-transform: uppercase;
}

.banner-blog .slider-container .media-slide{
    width: 100%;
    height: 100vh;
    text-align: center;
    object-fit: cover;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

/* .banner-blog .banner-bg {
    width: 100%;
    height: 100vh;
    background-image: url('../../../../assets/banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 12%;
    text-align: center;
}

.banner-blog .banner-bg h1 {
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    margin: 5% 12% 0% 12%;
    text-transform: uppercase;
}

.banner-blog .banner-bg p {
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    margin: 1% 0;
    text-transform: uppercase;
} */


/* ===== BLOG SECTION ===== */

.blogs-blog .blog-box-one h2 {
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    margin: 2% 0;
}

.blogs-blog .blog-box-one .blog-content p {
    color: #ffffff;
    text-align: justify;
    line-height: 33px;
}

.blogs-blog .blog-box-one .blog-banner img {
    width: 100%;
}

.blogs-blog .blog-box-two .blog-banner img {
    width: 100%;
}

.blogs-blog .blog-box-two {
    margin: 2% 0;
}

.blogs-blog .blog-box-two .blog-content {
    margin: 2% 0;
}

.blogs-blog .blog-box-two .blog-content p {
    color: #ffffff;
    text-align: justify;
}

.blogs-blog .blog-box-two .blog-grid img {
    width: 100%;
    height: 430px;
    border-radius: 12px;
    object-fit: cover;
}



/* ===== SERVICE BLOG ===== */

.service-blog {
    margin: 4% 0;
}

.service-blog h1 {
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

.service-blog p {
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 2%;
    text-transform: uppercase;
}

.service-blog .service-right{
    background-image: url('../../../../assets/service-right.jpg');
}

.service-blog .service-left{
    background-image: url('../../../../assets/service-left.jpg');
}

.service-blog .service-middle{
    background-image: url('../../../../assets/service-middle.jpg');
}

.service-blog .service-content{
    position: absolute;
    right: 20px;
    left: 20px;
    z-index: 999;
}

.service-blog .service-card-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 4% 0;
    padding: 5% 5%;
    position: relative;
    height: 315px;
}

.service-blog .service-card-bg .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.service-blog .service-card-bg p {
    font-size: 14px;
    color: #ffffff;
    text-align: justify;
    text-transform: none;
}

.service-blog .service-card-bg h5 {
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    text-transform: none;
}

.service-blog .service-card-bg button {
    position: absolute;
    bottom: 20px;
    background-color: transparent;
    border: 2px solid #b88b2b;
    border-radius: 6px;
    width: 100px;
    height: 35px;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    z-index: 999;
}

/* ===== FAQ BLOG ===== */

.faq-blog {
    padding-bottom: 6%;
}

.faq-blog h1 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
}

.faq-blog p {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    margin: 1% 23%;
}

.faq-blog .faq-view-btn {
    text-align: center;
}

.faq-blog .faq-view-btn button {
    background-color: #b88b2b;
    border: none;
    border-radius: 6px;
    width: 120px;
    height: 35px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
}

.faq-blog .faq-accordian h1 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    margin: 2% 0;
}

.faq-blog .faq-accordian .accordian-box {
    background-image: url('../../../../assets/faq-bg.png');
    background-position: left;
    background-repeat: no-repeat;
}

.faq-blog .faq-accordian .accordian-box .accordion-button {
    background-color: rgba(0, 0, 0, 0.25);
    color: #ffffff;
    font-size: 20px;
    margin-top: 1%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.accordion-collapse {
    background-color: rgba(0, 0, 0, 0.25);
    color: #b88b2b;
    font-size: 18px;
}

.accordion .accordion-item {
    background: rgb(17, 17, 17);
    border: none;
}

.accordion-button::before {
    background-image: url(../../../../assets/faq-btn.png);
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 3%;
    content: "";
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}

.accordion-button:not(.collapsed)::before {
    background-image: url(../../../../assets/faq-btn.png);
}

.accordion-button::after {
    background-image: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
}

@media (orientation: portrait) {
    .banner-blog .banner-bg {
        background-size: contain;
        /* Adjust to fit the entire image in portrait */
    }
}

@media screen and (min-width: 1440px) {
    .banner-blog {
        margin-top: 3.2%;
    }

    .faq-blog .faq-accordian .accordian-box {
        background-position: center;
    }
}

@media screen and (max-width: 768px) {
    .banner-blog .slider-container .main-heading h1 {
        font-size: 30px;
        margin: 15% 12% 0% 12%;
    }

    .blogs-blog .blog-box-one h2 {
        font-size: 20px;
    }

    .service-blog h1 {
        font-size: 24px; 
    }

    .service-blog p {
        font-size: 14px;
    }

    .faq-blog h1 {
        font-size: 24px;
    }

    .faq-blog .faq-accordian h1 {
        font-size: 24px;
    }

    .faq-blog .faq-accordian .accordian-box .accordion-button {
        font-size: 16px; 
    }

    .accordion-collapse {
        font-size: 14px;
    }
}

@media screen and (max-width: 585px) {
    .banner-blog .slider-container .main-heading h1 {
        font-size: 24px;
        margin: 25% 12% 0% 12%;
    }
    .blogs-blog .blog-box-one h2 {
        font-size: 14px;
        margin: 6% 0;
    }
    .blogs-blog .blog-box-one .blog-content p {line-height: 25px;}

    .service-blog h1 {
        font-size: 18px; 
    }

    .service-blog p {
        font-size: 12px;
    }

    .faq-blog h1 {
        font-size: 18px;
    }

    .faq-blog .faq-accordian h1 {
        font-size: 18px;
    }

}

@media screen and (min-width: 320px) and (max-width: 425px) {
    .banner-blog .banner-bg {
        background-size: unset;
    }
    .banner-blog .slider-container .main-heading h1 {
        font-size: 16px;
        margin: 35% 12% 0% 12%;
    }
    .banner-blog .slider-container .main-heading p {
        font-size: 12px;
    }
    .blogs-blog .blog-box-one h2 {font-size: 11px;}
    .blogs-blog .blog-box-one .blog-content p {line-height: 15px;font-size: 11px;}
    .blogs-blog .blog-box-two .blog-content p {line-height: 15px;font-size: 11px;}

    .service-blog h1 {
        font-size: 14px; 
    }

    .service-blog p {
        font-size: 10px;
    }

    .faq-blog h1 {
        font-size: 14px;
    }

    .faq-blog .faq-accordian h1 {
        font-size: 14px;
    }
}


/* Keyframes for fade-down-to-top */
@keyframes fadeDownToTop {
    0% {
      opacity: 0;
      transform: translateY(50px); /* Starts below the element's original position */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* Ends at the element's original position */
    }
  }
  
  /* Initial state */
  .fade-up {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
  
  /* Trigger animation */
  .fade-up.show {
    opacity: 1;
    transform: translateY(0);
  }