.modal .modal-dialog{
    background-color: rgba(197, 131, 43, 0.26);
}

.modal {
   
    backdrop-filter: blur(30px);
}

.modal .modal-dialog .modal-content {
    background-color: rgba(197, 131, 43, 0.26);
    border: none;
}

.modal-header {
    border-bottom: none;
}

.modal-header h5{
    color: #ffffff;
}

.modal-body form label{
    color: #ffffff;
}

.modal-body form button{
    background-color: #b88b2b;
    border: none;
    width: auto;
    height: 35px;
    border-radius: 6px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
}

.timer-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timer-box .text-muted{
    color: #ffffff !important;
}

.timer-box button{
    background-color: unset !important;
}