<div class="login-container">
  <h2>Sign in</h2>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <!-- Email Field -->
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" placeholder="Enter your email" [(ngModel)]="formData.email" [ngModelOptions]="{standalone: true}"  #emailValid="ngModel" required email/>
      <div *ngIf="emailValid.invalid&&emailValid.touched" class="error">
        <small *ngIf="emailValid.errors?.['required']">Email is required.</small>
        <small *ngIf="emailValid.errors?.['email']">Enter a valid email.</small>
      </div>
    </div>

    <!-- Password Field -->
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" placeholder="Enter your password" class="form-control" [(ngModel)]="formData.password" [ngModelOptions]="{standalone: true}" #passwordValid="ngModel" required minlength="6" maxlength="15"/>
      <div *ngIf="passwordValid.invalid&&passwordValid.touched" class="error">
        <small *ngIf="passwordValid.errors?.['required']">Password is required.</small>
        <small *ngIf="passwordValid.errors?.['minlength']">Password must be at least 6 characters.</small>
        <small *ngIf="passwordValid.errors?.['maxlength']">Password max 15 characters.</small>
      </div>
    </div>

    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>
</div>
