    <!-- ===== FOOTER PART ===== -->
<section class="footer-blog">
    <div class="footer-bg">
        <div class="container">
            <h1 class="fade-up" appFadeUp><img src="assets/logo.png"></h1>
            <p class="fade-up" appFadeUp>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pulvinar molestie massa et tincidunt. Proin nibh sapien, aliquam ac sem ut, volutpat suscipit velit. Cras tincidunt neque ac enim rutrum, vel tincidunt neque pulvinar. Nam non euismod nisl. Sed vulputate ornare dapibus. Vivamus vitae efficitur felis. Donec venenatis libero sapien, eu faucibus sem dapibus consectetur. Nunc dignissim lorem id eros pharetra facilisis. Nullam lacinia ut tellus vitae tempus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec iaculis leo id libero luctus vestibulum</p>
            <div class="footer-parts fade-up" appFadeUp>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-3">
                        <h2>Lorem ipsum</h2>
                        <ul>
                            <li>dolor sit amet</li>
                            <li>Nulla pulvinar molestie</li>
                            <li>Proin nibh sapien</li>
                            <li>pharetra facilisis</li>
                            <li>condimentum bibendum</li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-3">
                        <h2>Lorem ipsum</h2>
                        <ul>
                            <li>dolor sit amet</li>
                            <li>Nulla pulvinar molestie</li>
                            <li>Proin nibh sapien</li>
                            <li>pharetra facilisis</li>
                            <li>condimentum bibendum</li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-3">
                        <h2>Lorem ipsum</h2>
                        <ul>
                            <li>dolor sit amet</li>
                            <li>Nulla pulvinar molestie</li>
                            <li>Proin nibh sapien</li>
                            <li>pharetra facilisis</li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-3">
                        <ul class="contact-list">
                            <li>
                                <div class="list-bar">
                                    <img src="assets/landmark.png">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pulvinar-12453</p>
                                </div>
                            </li>
                            <li>
                                <div class="list-bar">
                                   <img src="assets/mobile.png"> 
                                   <p>12465687589</p>
                                </div>
                                </li>
                            <li>
                                <div class="list-bar">
                                    <img src="assets/mail.png">
                                    <p>abakshagmalkoa.com</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="copyrights-box fade-up" appFadeUp>
                <p class="license">copyrights xxxxxxxx. all rights reserved.</p>
                <p class="organized">designed and developed by Tecneural software</p>
            </div>
        </div>
    </div>
</section>