<!-- ===== FOOTER PART ===== -->
<section class="footer-blog">
    <div class="footer-bg">
        <div class="container">
            <h1 class="fade-up" appFadeUp><img src="assets/logo.png"></h1>
            <p class="fade-up" appFadeUp>Keyn Classic car rental service sounds like a fantastic idea, especially for
                people who want to experience the charm of vintage automobiles or need a unique ride for special
                occasions like weddings, photoshoots and many more.Drive in style and turn heads with a classic ride
                with our reputed source of service</p>
            <div class="footer-parts fade-up" appFadeUp>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-3">
                        <h2>Quick Link</h2>
                        <ul>
                            <li>Home</li>
                            <li>Service</li>
                            <li>About</li>
                            <li>Blog</li>

                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-3">
                        <h2>Services</h2>
                        <ul>
                            <li>Classic Car rental for wedding</li>
                            <li>Classic Car rental for Photo shoots</li>
                            <li>Classic Car rental for Music Concert</li>
                            <li>Classic Car rental for Birthday Party</li>
                            <li>Classic Car rental for Carnival</li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-3">
                        <h2>Top Brands</h2>
                        <ul>
                            <li>Plymouth Belvedere</li>
                            <li>Ambassador</li>
                            <li>Hindustan Contessa</li>
                            <li>Ford GPW</li>
                            <li>Mercedes Benz</li>
                            <li>Maruti</li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-3">
                        <ul class="contact-list">
                            <!-- <li>
                                <div class="list-bar">
                                    <img src="assets/landmark.png">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pulvinar-12453</p>
                                </div>
                            </li>
                            <li>
                                <div class="list-bar">
                                    <img src="assets/mobile.png">
                                    <p>12465687589</p>
                                </div>
                            </li> -->
                            <li>
                                <div class="list-bar">
                                    <img src="assets/mail.png">
                                    <p>{{ 'keynclassics@gmail.com' }}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="copyrights-box fade-up" appFadeUp>
                <p class="license">© copyrights keyn Classics all rights reserved.</p>
                <p class="organized">designed and developed by Tecneural software</p>
            </div>
        </div>
    </div>
</section>