.my-profile-blog {
    background-color: #000000;
}

.my-profile-blog h1 {
    padding-top: 6%;
    text-align: center;
    color: #ffffff;
}

.my-profile-blog form {
    width: 70%;
    margin: 3% auto 0;
    background-color: rgba(197, 131, 43, 0.26);
    border-radius: 12px;
    padding: 5% 10%;
}

.my-profile-blog form label {
    margin-top: 4%;
    color: #ffffff;
}

.my-profile-blog form button {
    margin: 20px 0;
    background-color: #b88b2b;
    border: none;
    width: 110px;
    height: 35px;
    border-radius: 6px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
}

.credential-change-Settings{
text-align: left;

}

.credential-change-Settings span{
    color: #ffffff;
    cursor: pointer;
}

.credential-change-name{
    text-align: right;
}

.credential-change-name span{
    color: #ffffff;
    cursor: pointer;
}

.option{
    color: #ffffff;
    font-size: 9px;
}

.timer-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timer-box .text-muted{
    color: #ffffff !important;
}

.timer-box button{
    background-color: unset !important;
}